# Configuração do Banco de Dados
DATABASE_URL=postgresql://usuario:senha@localhost:5432/presenca_db

# Porta do Servidor
PORT=3000

# Chave secreta para assinar os Tokens de Login (JWT)
JWT_SECRET=chavesecreta7733